language: node_js

node_js:
  - lts/*

script:
  - npm test
  - npm run build

deploy:
  local_dir: dist
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
