.Button {
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
  color: var(--main-color);
  border: var(--main-color-border);
  user-select: none;
}

.Button:hover,
.Button:focus {
  color: var(--main-color-hover);
  border: var(--main-color-hover-border);
  cursor: pointer;
}

.Button:focus {
  outline: 0;
}

.Button:active {
  text-decoration: underline;
  cursor: pointer;
}
