.ScreenContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ScreenCanvas {
    border: 5px solid rgb(102, 255, 102);
}
