:root {
  --main-color-rgb: 102, 255, 102;
  --main-color: rgb(var(--main-color-rgb));
  --main-color-hover: rgba(var(--main-color-rgb), 0.8);
  --main-bg-color: rgb(40, 40, 40);

  --main-color-border: 5px solid var(--main-color);
  --main-color-hover-border: 5px solid var(--main-color-hover);

  --default-margin: 0.5rem;

  --font-stack: 'Press Start 2P', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;


  font-family: var(--font-stack);
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

.App {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Header {
  flex: 0;
  text-align: center;
  margin: var(--default-margin);
}

.DisplayView {
  margin: var(--default-margin);
  border: var(--main-color-border);
  flex: 1;
  overflow: hidden;
}

.MemoryView {
  margin: var(--default-margin);
  padding: var(--default-margin);
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  border: var(--main-color-border);
}

.MemoryView::-webkit-scrollbar {
  width: 12px;
  background-color: none;
} 

.MemoryView::-webkit-scrollbar-track {
  background: none; 
}

.MemoryView::-webkit-scrollbar-thumb {
  background: var(--main-color); 
}

.MemoryView::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-hover); 
}

/* http://aleclownes.com/2017/02/01/crt-display.html */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.App::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.App::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
