button {
  all: unset;
  padding: 1rem;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: rgb(102, 255, 102);
  font-family: 'Press Start 2P', cursive;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.MemoryView {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DisplayView {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
