.Stack {
  text-align: center;
}

.StackList {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  columns: 2;
}

@media only screen and (max-width: 480px) {
  .StackList {
    columns: 1;
  }
}

#stack > .Register:first-of-type {
  display: inline-flex;
}
